.App {
  text-align: center;
}

.main-title{
  font-size: 25px;
}

.select-zone {
  display: none;
}

#next {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  line-height: 50px;
  text-decoration: none;
  background-color: green;
  color: black;
  display: none;
}